In [5]:
import pandas as pd
import numpy as np

# Set seed agar hasil reproducible
np.random.seed(42)

# Jumlah data
n_rows = 1000

# Membuat data sintetis
data = {
    "Age": np.random.randint(18, 70, size=n_rows),
    "Income": np.random.normal(50000, 15000, size=n_rows).astype(int),
    "Gender": np.random.choice(['Male', 'Female'], size=n_rows),
    "Marital_Status": np.random.choice(['Single', 'Married', 'Divorced', 'Widowed'], size=n_rows),
    "Education_Level": np.random.choice(['High School', 'Bachelor', 'Master', 'PhD'], size=n_rows),
    "Employment_Status": np.random.choice(['Employed', 'Unemployed', 'Self-employed', 'Student'], size=n_rows),
    "Credit_Score": np.random.normal(650, 70, size=n_rows).astype(int),
    "Loan_Amount": np.random.randint(1000, 50000, size=n_rows),
    "Loan_Purpose": np.random.choice(['Home', 'Car', 'Education', 'Business', 'Personal'], size=n_rows),
    "Default": np.random.choice([0, 1], size=n_rows, p=[0.85, 0.15])  # 0 = Tidak gagal bayar, 1 = Gagal bayar
}

# Membuat DataFrame
df = pd.DataFrame(data)

# Menampilkan 5 data teratas
print(df.head())

# Analisis statistik sederhana
print("\nStatistik Deskriptif:")
print(df.describe(include='all'))

   Age  Income  Gender Marital_Status Education_Level Employment_Status  \
0   56   25903    Male         Single          Master           Student
1   69   53051  Female        Married             PhD     Self-employed
2   46   38654  Female        Widowed             PhD     Self-employed
3   32   28666    Male        Widowed             PhD          Employed
4   60   40301    Male       Divorced        Bachelor     Self-employed

   Credit_Score  Loan_Amount Loan_Purpose  Default
0           643        43025     Personal        0
1           679        42381     Business        0
2           589        36651         Home        0
3           739        34972         Home        1
4           722        17928    Education        0

Statistik Deskriptif:
               Age        Income  Gender Marital_Status Education_Level  \
count   1000.00000   1000.000000    1000           1000            1000
unique         NaN           NaN       2              4               4
top            NaN           NaN  Female         Single     High School
freq           NaN           NaN     504            267             262
mean      43.81900  50863.121000     NaN            NaN             NaN
std       14.99103  14823.257362     NaN            NaN             NaN
min       18.00000   6556.000000     NaN            NaN             NaN
25%       31.00000  40822.250000     NaN            NaN             NaN
50%       44.00000  50807.000000     NaN            NaN             NaN
75%       56.00000  60281.750000     NaN            NaN             NaN
max       69.00000  89485.000000     NaN            NaN             NaN

       Employment_Status  Credit_Score   Loan_Amount Loan_Purpose      Default
count               1000   1000.000000   1000.000000         1000  1000.000000
unique                 4           NaN           NaN            5          NaN
top              Student           NaN           NaN          Car          NaN
freq                 268           NaN           NaN          214          NaN
mean                 NaN    648.457000  25541.871000          NaN     0.152000
std                  NaN     71.628422  13901.844928          NaN     0.359201
min                  NaN    444.000000   1048.000000          NaN     0.000000
25%                  NaN    598.000000  13643.750000          NaN     0.000000
50%                  NaN    649.000000  25544.000000          NaN     0.000000
75%                  NaN    697.000000  37800.750000          NaN     0.000000
max                  NaN    877.000000  49904.000000          NaN     1.000000